
#username{
    font-size: 13px!important;
    padding: 3px;
}
.menu-name{
    text-align: left;
    margin-left: 5px;
    color: #009688;
}

.title {
    font-size: 18px;
    font-weight: bold;
}



